.CompanyMenu > nav {
	display: flex;
    flex-direction: column;
}

.CompanyMenu > nav > a {
    margin: 10px auto;
    font-size: x-large;
    text-decoration: none;
}

.CompanyMenu h4 {
    padding: 20px;
    color: blue;
    border-bottom: 1px solid black;
}

.CompanyMenu .active {
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 5px 5px 10px black;
}

.CompanyMenu a:hover {
    color: blue;
    text-decoration: underline
}

